/* .table-bordered {
  border-left:  0px !important;
}
.table-bordered {
  border-right:  0px !important;
} */

/* table.table-bordered.dataTable tbody td {
  border-right-color: rgb(243, 239, 239)  !important;
} */

.table .thead-dark2 th{
  color: #fff !important;
  background: #343a40 !important;
  }        
  .table th {
  color: #222a42b3;
  text-align: inherit;
  vertical-align: top;
  }
  .table thead th {
  vertical-align: middle;
  font-size: 12px;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #d4d4d4!important;
  padding-top: 0.590rem;
  padding-bottom: 0.590rem;
  line-height: 1;
  }
  .table>tbody>tr>td {
  vertical-align: middle;
  padding-top: 0.365rem;
  padding-bottom: 0.365rem;
  }