{% load static %}
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header py-2 h-blue">
				<h5 class="modal-title title-custom text-white" id="titleGroup"><b><i class="fas fa-shield-alt"></i> Información del Grupo</b></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
			</div>                     			  
			<div class="modal-body">
				<div class="container">
					<div class="row mt-3" >
						<div class="col-12">
							<div class="form-group">                                        
								<label>Id: </label>
								<span class="badge badge-primary" id="ids"></span>
								<div class="d-inline" style="margin-left: 30px;">
									<label>Nombre: </label>
									<span id="name"></span>			
								</div>
							</div>                                
						</div>
					</div>
					<div class="row" >
						<div class="col-12">
							<div class="form-group">                                      
								<span style="font-weight: bold;">Permisos: </span>									
								<div class="d-inline" style="margin-left: 20px;">
									<label>Ver: </label>
									<span class="badge badge-primary" id="perms_view"></span>
									<div class="d-inline" style="margin-left: 30px;">
										<label>Agregar: </label>
										<span class="badge badge-primary" id="perms_add"></span>
									</div>
									<div class="d-inline" style="margin-left: 30px;">
										<label>Modificar: </label>
										<span class="badge badge-primary" id="perms_change"></span>
									</div>
									<div class="d-inline" style="margin-left: 30px;">
										<label>Eliminar: </label>
										<span class="badge badge-primary" id="perms_delete"></span>
									</div>
									<div class="d-inline" style="margin-left: 30px;">
										<label>Total de Permisos: </label>
										<span class="badge badge-primary" id="total_perms"></span>
									</div>									
								</div>
							</div>                                
						</div>
					</div>										
					<div class="row" style="margin-top: -15px;">
						<div class="col-12">							
							<hr style="border: solid 1px #70a7f5;">
							<div id="perms">

							</div>										                       
						</div>
					</div>										
					<!-- <table class="table table-bordered table-sm" id="tblPerms" width="100%">
                        <thead>
                        <tr>
                            <th style="width: 25%; color: black;">VER</th>
                            <th style="width: 25%; color: black;">AGREGAR</th>
                            <th style="width: 25%; color: black;">MODIFICAR</th>
                            <th style="width: 25%; color: black;">ELIMINAR</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>		 -->
				</div>					
			</div>                       
			
		</div>
	</div>
</div>